* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

:root {
    --dark-gray: #ababab;
    --light-gray : #808080;
    --dard-bg: #222222;
    --light-bg : #333333;
    --yellow : #bac964;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--light-bg);
}

body {
    background-color: var(--dard-bg);
}

section {
    padding: 5rem 9%;
}

.home {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.home .hero-text {
    font-size: 7rem;
    color: white;
}

.home .hero-text span {
    font-weight: 700;
}

.home p{
    color: var(--dark-gray);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 9%;
    z-index: 100;
}

.header.active {
    background-color: white;
    padding: 3rem 9%;
}

.header.active .navbar a {
    color: black;
}

.header.active .navbar a:hover {
    color: red;
    border-bottom: 1px solid red;
    min-width: min-content;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar a{
    font-size: 1.5rem;
    color: white;
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.heading {
    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 4rem;
}

.box {
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image:hover {
    transform: scale(1.02);
    transition: all 1s ease;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}

.about .box-container .box .image {
    height: 100%;
    overflow: hidden;
}

.about .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
}

.about .box-container .box p {
    margin-left: 20px;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    text-transform: none;
}
